<p>report-engine works!</p>

<div class="container">
  <app-svgcircle [coordinates]="companies"></app-svgcircle>

  <!-- <app-svgcircle
    *ngFor="let item of companies; let i = index"
    [xcoordinate]="100 * i"
    [ycoordinate]="50 * i"
  > -->
  <!-- </app-svgcircle> -->
</div>

<!-- <svg width="800">
  <circle
    *ngFor="let item of companies; let i = index"
    [attr.cx]="150 + i * 20"
    [attr.cy]="i * 40"
    r="50"
    style="fill: yellow; stroke: purple; stroke-width: 2;"
  />
</svg> -->
