<p>report-engine works!</p>

<div class="container">
  <app-svgcircle [coordinates]="companies"></app-svgcircle>

  <!-- <app-svgcircle
    *ngFor="let item of companies; let i = index"
    [xcoordinate]="100 * i"
    [ycoordinate]="50 * i"
  > -->
  <!-- </app-svgcircle> -->
</div>

<!-- <svg width="800">
  <circle
    *ngFor="let item of companies; let i = index"
    [attr.cx]="150 + i * 20"
    [attr.cy]="i * 40"
    r="50"
    style="fill: yellow; stroke: purple; stroke-width: 2;"
  />
</svg> -->



<div [ngSwitch]="qparam">
  <div *ngSwitchCase="'plain'">
    <h2>Plainsvg</h2>
    <!-- <div class="container">
      <app-svgcircle [coordinates]="companies"></app-svgcircle>
    </div> -->
  </div>
  <div *ngSwitchCase="'rectan'">
    <h2>Rectangles</h2>
  </div>
  <div *ngSwitchCase="'ellipse'">
    <h2>Ellipse</h2>
  </div>
  <div *ngSwitchCase="'circle'">
    <h2>circles</h2>
  </div>
  <div *ngSwitchDefault>
    <h2>Does not match for the parameters</h2>
  </div>

