<p>dynamiccomp2 works!</p>
<section class="card p-3 mt-5">
  <figure class="text-center">
    <img
      src="https://images.unsplash.com/photo-1514315384763-ba401779410f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=100&q=80"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Lorem ipsum</h2>

    <p class="card-subtitle">
      Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola
      pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin
      turducken.
    </p>

    <div class="mt-2 text-center">
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
  </div>
  {{ data.name }}
</section>
