<div class="container">
  <div [ngSwitch]="param">
    <div *ngSwitchCase="'Plainsvg'">
      <h2>{{ param }}</h2>
      <app-plain-svg></app-plain-svg>
    </div>
    <div *ngSwitchCase="'rectangles'">
      <h2>{{ param }}</h2>
      <app-svgrect></app-svgrect>
    </div>
    <div *ngSwitchCase="'ellipse'">
      <h2>{{ param }}</h2>
      <app-svgelipse></app-svgelipse>
    </div>
    <div *ngSwitchCase="'circles'">
      <h2>{{ param }}</h2>
      <app-svgcircle></app-svgcircle>
    </div>
    <div *ngSwitchDefault>
      <h2>Does not match for the parameters</h2>
    </div>
  </div>
</div>
