<div class="maindiv">
  <a> <img class="fltbtns" src="../assets/add.svg" /></a>
  <a> <img class="fltbtns1" src="../assets/minus.svg" /></a>
  <a (click)="center()"> <img class="fltbtns2" src="../assets/focus.svg" /></a>

  <!-- <button>center</button> -->

  <!--
  <div class="row h-100 align-items-center">
    <div class="col-6 mx-auto">
      <div class="jumbotron">
        I'm vertically centered
      </div>
    </div>
  </div> -->

  <div [ngSwitch]="param">
    <div *ngSwitchCase="'Rect1'">
      <app-rectangle1
        [translateAttribute]="translateAttribute"
        [reportWidth]="reportWidth"
        [reportHeight]="reportHeight"
      ></app-rectangle1>
      <!-- <svg id="svgarea" class="svgfull" xmlns="http://www.w3.org/2000/svg">
        <circle
          [attr.cx]="reportWidth / 2"
          [attr.cy]="reportHeight / 2"
          r="10"
        ></circle>
        <g id="grouparea" [attr.transform]="translateAttribute">
          <rect
            x="100"
            y="300"
            width="500"
            height="500"
            style="
              fill: rgba(0, 0, 0, 0.5);
              stroke-width: 3;
              stroke: rgb(0, 0, 0);
            "
          /> -->

      <!-- <circle
            cx="100"
            cy="100"
            r="20"
            style="
              fill: rgba(0, 0, 0, 0.5);
              stroke-width: 3;
              stroke: rgb(0, 0, 0);
            "
          />

          <circle
            cx="200"
            cy="100"
            r="20"
            style="
              fill: rgba(0, 0, 0, 0.5);
              stroke-width: 3;
              stroke: rgb(0, 0, 0);
            "
          />

          <circle
            cx="100"
            cy="200"
            r="20"
            style="
              fill: rgba(0, 0, 0, 0.5);
              stroke-width: 3;
              stroke: rgb(0, 0, 0);
            "
          />

          <circle
            cx="200"
            cy="200"
            r="20"
            style="
              fill: rgba(0, 0, 0, 0.5);
              stroke-width: 3;
              stroke: rgb(0, 0, 0);
            "
          /> -->
      <!-- <rect
            x="20"
            y="600"
            width="100"
            height="20"
            style="
              fill: rgba(0, 0, 0, 0.5);
              stroke-width: 3;
              stroke: rgb(0, 0, 0);
            "
          />
          <rect
            x="300"
            y="600"
            width="100"
            height="290"
            style="
              fill: rgba(0, 0, 0, 0.5);
              stroke-width: 3;
              stroke: rgb(0, 0, 0);
            "
          />

          <rect
            x="100"
            y="600"
            width="500"
            height="200"
            style="
              fill: rgba(0, 0, 0, 0.5);
              stroke-width: 3;
              stroke: rgb(0, 0, 0);
            "
          /> -->
      <!-- </g>
      </svg> -->
    </div>
    <div *ngSwitchCase="'Rect2'">
        <app-rectangle2
        [translateAttribute]="translateAttribute"
        [reportWidth]="reportWidth"
        [reportHeight]="reportHeight"
      ></app-rectangle2>
      <!-- <svg id="svgarea" class="svgfull" xmlns="http://www.w3.org/2000/svg">
        <circle
          [attr.cx]="reportWidth / 2"
          [attr.cy]="reportHeight / 2"
          r="10"
        ></circle>
        <g id="grouparea" [attr.transform]="translateAttribute">
          <rect
            x="100"
            y="300"
            width="200"
            height="700"
            style="
              fill: rgba(0, 0, 0, 0.5);
              stroke-width: 3;
              stroke: rgb(0, 0, 0);
            "
          />
        </g>
      </svg> -->
    </div>
    <div *ngSwitchCase="'Rect3'">
        <app-rectangle3
        [translateAttribute]="translateAttribute"
        [reportWidth]="reportWidth"
        [reportHeight]="reportHeight"
      ></app-rectangle3>
      <!-- <svg id="svgarea" class="svgfull" xmlns="http://www.w3.org/2000/svg">
        <circle
          [attr.cx]="reportWidth / 2"
          [attr.cy]="reportHeight / 2"
          r="10"
        ></circle>
        <g id="grouparea" [attr.transform]="translateAttribute">
          <rect
            x="100"
            y="300"
            width="2000"
            height="1500"
            style="
              fill: rgba(0, 0, 0, 0.5);
              stroke-width: 3;
              stroke: rgb(0, 0, 0);
            "
          />
        </g>
      </svg> -->
    </div>
    <div *ngSwitchCase="'Rect4'">
        <app-rectangle4
        [translateAttribute]="translateAttribute"
        [reportWidth]="reportWidth"
        [reportHeight]="reportHeight"
      ></app-rectangle4>
      <!-- <svg id="svgarea" class="svgfull" xmlns="http://www.w3.org/2000/svg">
        <circle
          [attr.cx]="reportWidth / 2"
          [attr.cy]="reportHeight / 2"
          r="10"
        ></circle>
        <g id="grouparea" [attr.transform]="translateAttribute">
          <rect
            x="100"
            y="300"
            width="200"
            height="1500"
            style="
              fill: rgba(0, 0, 0, 0.5);
              stroke-width: 3;
              stroke: rgb(0, 0, 0);
            "
          />
        </g>
      </svg> -->
    </div>
    <div *ngSwitchDefault>
      <h2>Does not match for the parameters</h2>
    </div>
  </div>
</div>
