

<!-- <div class="container"> -->

<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Circles</h5>

            <svg >
              <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
              <circle cx="60" cy="80" r="40" stroke="black" stroke-width="3" fill="red" />
              <circle cx="90" cy="100" r="40" stroke="black" stroke-width="3" fill="red" />
              <circle cx="130" cy="90" r="40" stroke="black" stroke-width="3" fill="red" />
            </svg>
            <br>

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rectangles</h5>
          <svg >
              <defs>
                <filter id="f1" x="0" y="0" width="200%" height="200%">
                  <feOffset result="offOut" in="SourceGraphic" dx="30" dy="50" />
                  <feBlend in="SourceGraphic" in2="offOut" mode="normal" />
                </filter>
              </defs>
              <rect width="90" height="80" stroke="green" stroke-width="3" fill="yellow" filter="url(#f1)" />
              <defs>
                <filter id="f2" x="0" y="0" width="200%" height="200%">
                  <feOffset result="offOut" in="SourceGraphic" dx="20" dy="30" />
                  <feBlend in="SourceGraphic" in2="offOut" mode="normal" />
                </filter>
              </defs>
              <rect width="90" height="80" stroke="green" stroke-width="3" fill="yellow" filter="url(#f2)" />
              <!-- <rect width="90" height="80" stroke="green" stroke-width="3" fill="yellow" filter="url(#f1)" /> -->
            </svg>
            <br>

        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Ellipse</h5>
            <svg >
                <defs>
                  <filter id="f1" cx="10" cy="60" >
                    <feOffset result="offOut" in="SourceGraphic" dx="40" dy="50" />
                    <feBlend in="SourceGraphic" in2="offOut" mode="normal" />
                  </filter>
                </defs>

                <ellipse cx="80" cy="50" rx="55" ry="35" style="fill:blue;stroke:pink;stroke-width:3;opacity:0.5" filter="url(#f1)" />
                <ellipse cx="150" cy="50" rx="55" ry="35" style="fill:blue;stroke:pink;stroke-width:3;opacity:0.5" filter="url(#f1)" />
              </svg>

              <br>

          </div>
        </div>
      </div>
  </div>
<!-- </div> -->


