.navicon {
  height: 20px;
  width: 20px;
  padding: 2px;
  color: rgb(83, 170, 247);
  fill: aliceblue;
}

div.ex1 {
  width: 1500px;
  margin: auto;
 }

.body {
  /* height:94vh; */
  height:110vh;
  background-color: rgba(0, 194, 248, 0.301);

}
