<nav class="navbar navbarre navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Report Engine</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/reportengine/rectangle1']"
          routerLinkActive="active"
          >Rectangle1</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/reportengine/rectangle2']"
          routerLinkActive="active"
          >Rectangle2</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/reportengine/rectangle3']"
          routerLinkActive="active"
          >Rectangle3</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/reportengine/rectangle4']"
          routerLinkActive="active"
          >Rectangle4</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/reportengine/dynamicCircle']"
          routerLinkActive="active"
          >Dynamic Circles</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/reportengine/dynamicRectangle']"
          routerLinkActive="active"
          >Dynamic rectangles</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/reportengine/dynamicEllipse']"
          routerLinkActive="active"
          >Dynamic ellipse</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/reportengine/dynamicPolygon']"
          routerLinkActive="active"
          >Dynamic Polygon</a
        >
      </li>
    </ul>
    <ul class="navbar-nav"></ul>
  </div>
</nav>

<div class="body">
  <!-- <router-outlet></router-outlet> -->
  <app-dynamicloader></app-dynamicloader>
</div>
