.navicon {
  height: 20px;
  width: 20px;
  padding: 2px;
  color: rgb(83, 170, 247);
  /* background-color: aliceblue; */
  fill: aliceblue;
}

div.ex1 {
  width: 1500px;
  margin: auto;
 }

.body {
  height:110vh;
  background-color: rgba(0, 194, 248, 0.301);
  /* background-color:rgb(122, 214, 122); */
}
