.circleval{
    fill:navy !important; 
  }

  .rectangle{
    fill: rgba(7, 93, 253, 0.938) !important; 
    stroke-width: 7 !important; 
    stroke: yellow !important;
  }    

  text{
    fill:rgba(7, 93, 253, 0.938) !important; 
    font-weight: 700!important;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px !important;
    font-style: italic !important;
  }