<div class="container">
  <button (click)="center()">center</button>

  <svg viewBox="0 0 5000 5000" class="solid">
    <!-- <circle
      cx="500"
      cy="500"
      r="500"
      style="fill: yellow; stroke: purple; stroke-width: 2;"
    /> -->

    <g>
      <rect
        x="0"
        y="0"
        width="200"
        height="100"
        style="fill: yellow; stroke: purple; stroke-width: 2;"
      />
      <rect
        x="25"
        y="25"
        width="150"
        height="50"
        style="fill: rgb(10, 2, 27); stroke: purple; stroke-width: 2;"
      />
    </g>

    <!-- <rect x="200" y="200" width="300" height="2000">
      <circle
        cx="200"
        cy="200"
        r="500"
        style="fill: yellow; stroke: purple; stroke-width: 2;"
      />
    </rect> -->
  </svg>
</div>
