<svg
  id="svgViewableArea"
  [attr.viewBox]="viewBoxAttribute"
  preserveAspectRatio="xMidYMid slice"
  class="svgfull"
>
  <circle
    [attr.cx]="viewableAreaWidth / 2"
    [attr.cy]="viewableAreaHeight / 2"
    r="10"
  ></circle>
  <g id="reportArea" [attr.transform]="translateAttribute">
    <!-- <circle cx="100" cy="300" r="40"></circle> -->
    <!-- <image
      href="assets/report-engine-assets/des1.svg"
      transform="translate( 100 , 1500 )"
    />

    <image
      href="assets/report-engine-assets/kiwi.svg"
      transform="translate( 1000 , 200 )"
    />
    <image
      href="assets/report-engine-assets/photo.svg"
      transform="translate( 800 , 1800 )"
    /> -->

    <image
      href="https://upload.wikimedia.org/wikipedia/commons/0/0b/Mountains-1412683.svg"
    />

    <!-- <rect
      x="100"
      y="300"
      width="500"
      height="500"
      style="fill: rgba(0, 0, 0, 0.5); stroke-width: 3; stroke: rgb(0, 0, 0);"
    /> -->
  </g>
</svg>
