<link  type="text/css" rel="stylesheet"
  [href]='dynamicCSSUrl'>
<svg id="svgViewableArea" [attr.viewBox]="viewBoxAttribute" class="svgfull"> 
  <g id="reportArea" [attr.transform]="translateAttribute">
    <!-- <circle cx="100" cy="300" r="40"></circle> -->
    <!-- <image
      href="assets/report-engine-assets/des1.svg"
      transform="translate( 100 , 1500 )"
    />

    <image
      href="assets/report-engine-assets/kiwi.svg"
      transform="translate( 1000 , 200 )"
    />
    <image
      href="assets/report-engine-assets/photo.svg"
      transform="translate( 800 , 1800 )"
    /> -->
    
     <rect x="100" y="300" width="500" height="500" class="rectangle" />
    <text x="100" y="280" class="textVal" >This is rectangle</text>

  </g>
  <circle class="circleval" [attr.cx]="viewableAreaWidth / 2" [attr.cy]="viewableAreaHeight / 2" r="10"></circle>
</svg>